{% set menu = post.meta('menu') %}
<nav class="navbar navbar-expand-lg navbar-toggleable-sm bg-transparent fixed-top">
    <a class="navbar-brand" href="/">{{ menu.text_sx }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">{{ menu.home }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#eventi">{{ menu.menu_2 }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#etherpad">{{ menu.menu_3 }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#video">{{ menu.menu_4 }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contatti">{{ menu.menu_5 }}</a>
            </li>
        </ul>
    </div>
</nav>