{# File views/layouts/base.twig #}

<!doctype html>
<html lang="it">
<head>
    {{ function("wp_head") }}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="author" content=""/>
    <link rel="icon" href="{{ site.theme.link }}/favicon.ico"/>
    <title>{{ site.title }}</title>
    <link href="{{ site.theme.link }}/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<div id="app">
    {% include 'partials/header.twig' %}
<main role="main" id="main-container">
    {% block content %}
    {% endblock %}
</main>
<style>
.bg-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</div>
<footer class="footer">
{{ function("wp_footer") }}
</footer>
</body>
</html>