
{# File views/pages/index.twig #}

{% extends 'pages/index.twig' %}
{% block post_content %}
    <div class="blog-post">
        <h1 class="blog-post-title">{{ post.title }}</h1>
        <p class="blog-post-meta">{{ post.date }}</p>
        <img class="blog-post-img" src="{{ post.thumbnail }}" alt="blogpost-{{ post.title }}"><br>
        {{ post.content | shortcodes }}
    </div>
{% endblock %}