{# File: views/pages/404.twig #}

{% extends 'layouts/base.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>404, non c'è niente qui! </h1><br>
                <h2>Se ti annoi, puoi contare le pecore con questo pratico contatore</h2>
            </div>
            <div class="col-md-12 text-center">
                <melo-button class="btn btn-primary mt-4"></melo-button>

                <div class="tenor-gif-embed mt-5" data-postid="13463115" data-share-method="host" data-width="30%" data-aspect-ratio="1.8482142857142858"><a href="https://tenor.com/view/im-asheep-beep-beep-running-late-gif-13463115">Im ASheep Beep Beep GIF</a> from <a href="https://tenor.com/search/imasheep-gifs">Imasheep GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            </div>

            <div class="col-md-12">
                <h2>Oppure.. </h2>

                <a class="btn btn-primary" href="/">Torna alla home</a>
            </div>
        </div>
    </div>
{% endblock %}