{# File views/pages/page.twig #}
{% set hero = post.meta('hero_section') %}
{% set events = post.meta('events_section') %}
{% set video = post.meta('video_section') %}
{% set contact = post.meta('contact_section') %}
{% set mod = post.meta('mod_section') %}

{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="custom-control custom-switch terminal-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitches" @click="toggleTerminal">
        <label class="custom-control-label" for="customSwitches">Modalità terminale</label>
    </div>
    <div class="terminal-wrapper" v-show="isTerminalEnabled">
        <div id="sidenav">
            <button id="sidenavBtn">&#9776;</button>
            <img id="profilePic" class="reset-width" alt="An avatar that aims to represent the website owner" src="/wp-content/uploads/2019/10/LogoSputnix.png">
        </div>
        <div id="container">
            <div id="output"></div>
            <div id="input-line" class="input-line">
                <div id="prompt" class="prompt-color"></div>&nbsp;
                <div>
                    <input type="text" id="cmdline" autocomplete="off" autocorrect="off" autocapitalize="off"
                           spellcheck="false"
                           autofocus/>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper" v-show="!isTerminalEnabled">
        <section class="cover parallax img-copertina" style="background: url({{ hero.background }});">
            <div class="cover__filter"></div>
            <div class="cover__caption">
                <div class="cover__caption__copy">
                    <h1 class="animated fade-up">{{ hero.title }}</h1>
                    <h2 class="animated fade-up">{{ hero.subtitle }}</h2>
                    <h3 class="animated fade-up"><img src="/wp-content/uploads/2019/10/LogoSputnix.png"
                                                      title="Logo Sputnix Catania" width="160px" height="100px"></h3>
                    <a id="godown-icon" href="#video" v-smooth-scroll="{ duration: 1000, offset: -50 }">
                        <i class="fas fa-chevron-down godown-row animated infinite bounce delay-3s slow"
                           style="font-size:36px;color:white"></i>
                    </a>
                    <div class="btn-locandina">
                      <a rel="noopener noreferrer" target="_blank" href="/wp-content/uploads/2019/10/LocandinaLinuxDay_2019.png" class="btn btn-lg btn-outline-primary my-3">
                        Guarda locandina
                      </a>
                    </div>
                </div>
            </div>
        </section>

        <div id="video" class="jumbotron parallax bg-parallax" style="background: url({{ video.background }});">
            <h1 id="ulv_title" class="display-3">{{ video.title }}</h1>
            {{ video.description }}
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img class="reset-width img-aiai" src="https://www.linuxday.it/2019/promo/banner_facebook.png"
                             alt="banner linux day 2019">
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                        <video class="reset-width" src="{{ video.link }}" controls></video>
                    </div>
                </div>

            </div>
        </div>
        <div id="eventi" class="parallax bg-parallax" style="background: url({{ events.background }});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3" id="titolo_eventi">{{ events.title }}</h1>
                    </div>
                    <div class="row">
                        {% for event in events.events %}
                            <div style="padding:2em;" class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="{{ event.img }}" alt="Linux Day 2018">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">{{ event.title }}</h5>
                                        <p class="card-text text-justify"
                                           style="font-size: 18px;line-height: 33px;">{{ event.description }}</p>
                                        <a style="margin:auto;" rel="noopener noreferrer" target="_blank" href="{{ event.img }}" class="btn btn-primary mt-2">Guarda locandina</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax bg-parallax" style="background: url({{ contact.background }});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">{{ contact.title }}</h1>
                    </div>
                    <div class="col-md-12">
                        <p class="lead">{{ contact.subtitle }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 contact-icons-items text-center">
                        <a href="mailto:info@linuxdaycatania.info"><i class="fa fa-envelope-square fa_footer_pers"></i></a>
                    </div>
                    <div class="col-md-4 col-sm-12 contact-icons-items text-center">
                        <a href="https://telegram.me/joinchat/AkwKnz-F8Zbfc0pRveHTGA"><i
                                    class="fab fa-telegram-plane fa_footer_pers"></i></a>

                    </div>
                    <div class="col-md-4 col-sm-12 contact-icons-items text-center">
                        <a href="https://www.facebook.com/Ct.SputniX/?fref=ts"><i
                                    class="fab fa-facebook-square fa_footer_pers"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax bg-parallax" style="background: url({{ mod.background }});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">{{ mod.title }}</h1>
                    </div>
                    <div class="col-md-12">
                        <p class="lead">{{ mod.subtitle }}</p>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                    {% filter shortcodes %}
                        [contact-form-7 id="128" title="Modulo di contatto 1"]
                    {% endfilter %}
                   </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
