<template>
    <button v-on:click="count++">Hai contato {{ count }} pecore.</button>
</template>

<script>
    export default {
        data: function () {
            return {
                count: 0
            }
        }
    }
</script>