/* Header Parallax Element Style*/

.parallax {
  min-height:800px;
  background-attachment: fixed;
  background-size: cover !important;
  background-position: 50% 50%;
  p{
    font-size: 24px;
    text-align: center;
    line-height: 60px;
  }
  h1{
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
  }
}
/* Rimuove il margine inferiore del Jumbotron */
.jumbotron {
  margin-bottom: -5px;
}
