body {
  font-family: 'Ubuntu', sans-serif;
}

p {
  line-height: 22px;
}

/*########## NAVBAR ############*/
.navbar a, p {
  color: white;
  font-size: 17px;
}

.navbar {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.bg-transparent {
  background: rgba(255,255,255,0.2);
}

/*############ COVER ############# */

.img-copertina{
  background-size: cover;
}
.button {
  display: inline-block;
  background: white;
  color: #000;
  padding: 15px 30px;
  border-radius: 3px;
  text-decoration: none;
}

.cover {
  height: 100%;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  position: relative;
}

.cover__filter {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.cover__caption {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.cover__caption__copy {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

/*freccia verso il basso di Font Awesome*/

.godown-row {
  margin-top: 55px;
}

/*######### SEZIONI #############*/

.sezioni p {
  color: black;
}

/*########## CARDS EVENTI #############*/

.card-deck {
  max-width: 1500px;
  max-height: 800px;
  margin: 0 auto;

}

.card-text {
  color: grey;
}

#eventi h1  {
  padding-top: 0px;
  color: white;
}

#titolo_eventi {
  font-family: 'Kaushan Script', cursive;
}

/*centra e definisce la lunghezze delle immagini all'interno delle cards*/
.card-img-top  {
  max-width: 190px;
  margin: 0 auto;
}

.modal-body p {
  color: black;
}

.modal-backdrop.show {
  z-index: -1;
}
/*########## CONTATTI ##########*/

.contact-icons {
  list-style: none;
  font-size: 60px;
  color: white;
  display: table;
  margin: 0 auto;
}

.contact-icons li {
  display: inline;
}

.contact-icons-items {
  padding: 40px;
}

/*########## VIDEO #############*/
.user_liberation_video {
  margin: 0 auto;
  max-width: 55%;
}

#ulv_video {
  width: 640px;
  height: 390px;
}

/*########## FOOTER ############ */

.footer {
  height: 100px;
  width: 100%;
  a{
    color: #efefef;
  }
  p{
    color: #959595;
  }
}
.footer_text {
  margin-left: 40px;
}



/*########### FONT AWESOME ICONE ##############*/

/*icona etherpad*/
.fa-file-alt {
  color: grey;
  font-size: 150px;
}

/*icone Font Awesome del footer*/
.fa_footer_pers {
  color: white;
  font-size: 60px;
}


/*
######################################################################
###                      Mobile Media Query                     ######
######################################################################
*/

/* Dispositivi molto piccoli */

@media (max-width: 480px){

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192,192,192,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-brand {
    color: white;
  }

  .cover {
    height: auto;
  }

  #ulv_title {
    font-size: 39px;
  }

  #ulv_body {
    font-size: 18px;
  }

  #ulv_video {
    width: 270px;
    height: 232px;
  }

  .contact-icons {
    padding-left: 0;
    li{
      display: block;
    }

  }

  .footer {
    height: auto;
  }

  .footer_text {
    margin-left: 0;
  }

}

/* Dispositivi piccoli e tablet*/
@media (max-width: 768px){

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(192,192,192,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-brand {
    color: white;
  }

  .navbar-collapse {
    background-color: transparent !important;
  }

  #modal_paragraph {
    font-size: 18px;
  }


  #etherpad {
    height: 610px;
  }

  #etherpad_title {
    padding-top: 25px;
  }

  #etherpad_subtitle {
    padding-top: -5px;
  }

  #etherpad_icon {
    padding-top: 28px;
  }

  #ulv_title {
    font-size: 52px;
  }

  #ulv_video {
    width: 270px;
    height: 232px;
  }

  #fa_footer_pers {
    font-size: 83px;
  }

  .navbar-brand {
    color: white;
  }
}
.tenor-gif-embed{
  margin: auto;
}
.footer{
  display: none;
}
.reset-width{
  max-width: 100% !important;
}
.img-aiai{
  margin-top: 2.5em;
}
