.terminal-switch{
  z-index: 99999;
  position: fixed;
  bottom: 1em;
  right: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 0.5em 0 0.5em 3rem;
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .terminal-switch {
    display: none;
  }
}